<div class="mid">
    <div class="divider">
      
      <nav id="single-menu" class="l" data-dir="ltr">
        
      </nav>
  
      <article id="list-main" class="m" data-dir="ltr">
        <div class="single" data-display="block">
          <article class="single__contents" data-dir="ltr">
            {{ partial "main/sections/authors-meta.html" . }}
            {{ partial "main/sections/authors-post.html" . }}
          </article>
        </div>  

      </article>
      
      <section id="list-side" class="r" data-dir="ltr">
        
      </section>
  
    </div>
  </div>

  